.contact-section {
  background-color: var(--green-color);
  padding: 4em;
  color: white;
  text-align: center;
}

.contact-title {
  font-size: 4em;
  font-family: "Bowlby One", sans-serif;
  letter-spacing: 0.1em;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1em;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  margin-bottom: 1em;
  border-radius: 5px;
}

.submit-btn {
  background-color: var(--blue-color);
  color: white;
  border: none;
  padding: 1em 2em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #0c0e69; /* Slightly darker green on hover */
}
