.contact-section {
  background-color: var(--blue-color);
  padding: 4em;
  color: white;
  text-align: center;
}

.contact-title {
  font-size: 2em;
  font-family: "Bowlby One", sans-serif;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1em;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1em;
  border: 2px solid white;
  background-color: var(--blue-color);
  color: white;
  font-size: 0.7em;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  font-family: "Gilroy-Bold";
}

/* Change la couleur du texte à l'intérieur des inputs/textarea lors de la saisie */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white;
  opacity: 1; /* Pour s'assurer que le placeholder est bien visible */
}

.submit-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 1em 2em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  font-size: 0.7em;
  font-family: "Bowlby One", sans-serif;
  letter-spacing: 0.1em;
}

.submit-btn:hover {
  background-color: #0c0e69; /* Couleur plus foncée au survol */
}

.success-message {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Gilroy-Bold";
}

@media (max-width: 768px) {
  .contact-title {
    font-size: 1em;
    margin-bottom: 50px;
  }
}
