.Phase-get-flag {
  display: flex;
  justify-content: center;
}

.banner-mobilize {
  font-size: 3rem;
}

.Get-flag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: auto;
}

.window-get-the-flag {
  flex: 1;
  min-width: 180px;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 2.5em;
}

.window-gtf-title,
.window-gtf-img,
.window-gtf-text {
  padding: 10px;
  text-align: center;
  color: white;
  letter-spacing: 0.1em;
}

.window-gtf-title {
  font-family: "Bowlby One";
  font-weight: bold;
  font-size: 10px;
}

.window-gtf-img {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
}

.window-gtf-text {
  margin-top: 20px;
  font-family: "Gilroy";
  font-size: 0.8em;
  line-height: 1.5;
  min-height: 100px;
}

.img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.one,
.three,
.five {
  background-color: var(--blue-color);
}

.two,
.four {
  background-color: var(--green-color);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.download-the-flag {
  font-size: 20px;
  font-family: "Bowlby One", sans-serif;
  background-color: var(--green-color);
  color: white;
  margin: 2em;
  border-radius: 2px;
  padding: 0.5em 1em;
  letter-spacing: 0.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease, box-shadow 1s ease;
  text-decoration: none;
}

.download-the-flag:hover {
  background-image: linear-gradient(
    to left,
    rgba(40, 78, 163, 1) 50%,
    rgba(79, 169, 59, 1) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 2s, box-shadow 0.5s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.download-the-flag:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .Phase-get-flag {
    display: none;
  }

  .banner-mobilize {
    display: none;
  }
}

@media (max-width: 1000px) {
  .banner-mobilize {
    font-size: 2em;
  }
}
