.Unity-symbol-section {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.img-manif {
  max-width: 100%; /* assure que l'image ne dépasse pas son conteneur */
  height: auto; /* garde le ratio de l'image */
}

.manifesto-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 3em;
}

.Right-manifesto-section {
  width: 48%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.manif-container,
.Right-manifesto-section {
  width: 50%; /* assigne à chaque conteneur une largeur de 50% */
  display: flex; /* permet d'utiliser flexbox pour centrer l'image et le texte */
  align-items: center; /* centre verticalement */
  justify-content: center; /* centre horizontalement */
}

.Quote-manifesto {
  font-family: Bowlby One Sc;
  color: var(--blue-color);
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.author-manifesto {
  color: var(--blue-color);
  font-family: "Gilroy-Bold", sans-serif;
  text-align: center;
  font-size: 1em;
  padding-top: 35px;
}

.child-mini-quote-manifesto {
  font-family: "Gilroy", sans-serif;
  text-align: center;
  font-size: 1em;
  color: var(--blue-color);
}

.manif-container {
  width: 50%;
  padding-left: 8%;
}

@media (max-width: 778px) {
  .manifesto-section {
    padding-top: 3em;
    flex-direction: column;
    align-items: center;
  }

  .manif-container,
  .Right-manifesto-section {
    width: 80%;
    padding: 0;
    height: auto;
  }

  .img-manif {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .Quote-manifesto {
    font-size: 1em;
    padding: 20px;
  }

  .author-manifesto {
    font-size: 0.8em;
  }
}

@media (max-width: 430px) {
  .manifesto-section {
    padding-top: 3em;
    flex-direction: column;
    align-items: center;
  }

  .manif-container,
  .Right-manifesto-section {
    width: 80%;
    padding: 0;
    height: auto;
  }

  .img-manif {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .Quote-manifesto {
    font-size: 1em;
    padding: 20px;
  }

  .author-manifesto {
    font-size: 0.8em;
  }
}
