.unity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 2em;
}

.Unity-symbol-section {
  font-family: "bowlby One", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-color);
  width: 100%;
  text-align: center;
  font-size: 3em;
  letter-spacing: 3px;
  line-height: 1.1em;
  padding: 2em;
}

@media (max-width: 1024px) {
  .Unity-symbol-section {
    font-size: 2.4em;
  }
  .unity-container {
    height: 100px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Unity-symbol-section {
    font-size: 1.4em;
  }
  .unity-container {
    height: 100px;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .Unity-symbol-section {
    font-size: 1.4em;
  }
  .unity-container {
    height: 100px;
    width: 100%;
  }
}

@media (max-width: 430px) {
  .Unity-symbol-section {
    font-size: 1.4em;
  }
  .unity-container {
    height: 100px;
    width: 100%;
  }
}
