.why-flag-section {
  background-color: #ffffff;
  width: 100%;
  padding: 6em 0;
  font-family: "Bowlby One", sans-serif;
  text-align: center;
}

.why-flag-container-box {
  position: relative;
}

.why-flag-title {
  color: var(--green-color);
  font-size: 2.5em;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
  text-align: center;
}

.why-flag-text {
  font-size: 1.3rem;
  width: 100%;
}

.container-box {
  position: relative;
}
.container-box .arrow {
  position: absolute;
  top: 50%;
  margin-top: -5px;
}

.blue {
  color: rgba(40, 78, 163, 1);
}

.green {
  color: rgba(51, 153, 51, 1);
}

.why-flag-container-box {
  position: relative;
}

.why-flag-container-box .arrow {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  color: #111;
}

.even-class {
  color: var(--green-color);
  text-align: right;
}

.odd-class {
  color: var(--blue-color);
  text-align: left;
  padding-top: 100px;
}

@media (max-width: 778px) {
  .why-flag-section {
    width: 100%;
  }
  .why-flag-text {
    font-size: 1rem;
    align-self: flex-start;
    margin-bottom: 50px;
  }

  .why-flag-title {
    font-size: 1.5em;
  }
  .swiper-button-prev-why-flag,
  .swiper-button-next-why-flag {
    font-size: 1.5em;
  }
}

@media (max-width: 640px) {
  .why-flag-section {
    width: 100%;
  }
  .why-flag-text {
    font-size: 1rem;
    align-self: flex-start;
    margin-bottom: 50px;
  }

  .why-flag-title {
    font-size: 1.5em;
  }
}

@media (max-width: 519px) {
  .why-flag-section {
    width: 100%;
  }
  .why-flag-text {
    font-size: 0.9rem;
    align-self: flex-start;
    margin-bottom: 50px;
  }

  .why-flag-title {
    font-size: 1em;
  }
  .swiper-button-prev-why-flag,
  .swiper-button-next-why-flag {
    font-size: 1.2em;
  }
}

@media (max-width: 469px) {
  .why-flag-section {
    width: 100%;
  }
  .why-flag-text {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }

  .why-flag-title {
    font-size: 1em;
  }
}

/* @media (max-width: 768px) {
  .why-flag-section {
    display: none;
  }
} */
