.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-header {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  color: rgb(26, 26, 26);
  font-family: gilroy-bold;
}

.App-sidebar {
  background-color: white;
  writing-mode: vertical-lr;
  position: fixed;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Text-sidebar {
  color: green;
}

.Sidebar-content {
  transform: rotate(360deg);
  font-family: Bowlby One Sc;
  font-size: 3.5em;
  letter-spacing: 0.2em;
  color: rgb(29, 29, 29);
}

.sticky-squares-container {
  position: absolute;
  top: -90px;
  left: 23px;
}

.sticky-square-blue {
  width: 20px;
  height: 60px;
  background-color: #2600e7;
  margin-bottom: -50px;
}

.sticky-square-green {
  width: 20px;
  height: 60px;
  background-color: #008115;
  margin-bottom: -50px;
}

.App-main {
  display: flex;
  flex-direction: column;
}

.Climate-urgency-section,
.Our-house-burns-section,
.Unity-symbol-section {
  width: 100%;
}

.Climate-urgency-section {
  background-color: lightblue;
  height: 100vh;
}

.Our-house-burns-section {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-content: stretch;
}

.img-burning {
  flex: 1 1 50%;
  height: 50vh;
  object-fit: cover;
}

.Unity-symbol-section {
  font-family: bowlby One;
  display: flex;
  background-color: lightgreen;
  height: 200px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3em;
}

.banner-urgency {
  background-color: blue;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: bowlby One;
  font-size: 3em;
  height: 150px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.Flag-section {
  display: flex;
  flex-direction: row;
}

.Earth-flag {
  background-color: aqua;
  width: 50%;
}

.Text-flag-section {
  background-color: blueviolet;
  width: 50%;
}

@media (min-width: 100px) {
  .App-main {
    margin-left: 100px;
  }
}

.nav-menu-item:hover {
  color: green;
  cursor: pointer;
}
