.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 4em;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 2em; /* Espace entre les cartes */
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.project-image {
  width: 100%;
  height: 200px; /* Définir une hauteur fixe pour toutes les images */
  object-fit: cover;
  border-radius: 5px;
}

.project-item {
  padding: 1em;
  border-radius: 5px;
  width: 320px; /* ou une autre largeur fixe ou en pourcentage selon la conception */
  position: relative;
  overflow: hidden; /* Pour éviter que les images ne débordent */
}

.project-title {
  font-family: "Bowlby One SC";
  font-size: 0.7em;
  color: #333;
  margin-bottom: 0.5em;
  text-align: start;
  letter-spacing: 0.5px;
}

.project-description {
  font-family: "Gilroy";
  font-size: 0.9em;
  color: #666;
  text-align: start;
  padding-top: 1em;
}

.projects-more {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
}

.projects-more:hover {
  background-color: #555;
}

.title-project {
  color: var(--green-color);
  font-family: "Bowlby One", sans-serif;
  font-size: 3em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

.projects-section:hover .soon-overlay {
  display: flex;
  opacity: 1;
}

.soon-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
  .projects-section {
    display: none;
  }

  .title-project {
    display: none;
  }
}
