.super-container-confidential {
  height: auto;
  width: auto;
  background-color: var(--blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confidential-title {
  color: white;
  font-size: 3em;
  font-family: "Bowlby One";
  letter-spacing: 0.1rem;
  padding-top: 2em;
  text-decoration: underline;
}

.policy-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 20px;
  border: 1px solid white;
}

.policy-section {
  margin-bottom: 20px;
}

.policy-section p {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid white;
  color: white;
  font-family: "Gilroy-Bold";
  line-height: 50px;
}

@media (max-width: 950px) {
  .confidential-title {
    font-size: 2em;
  }
}

@media (max-width: 646px) {
  .confidential-title {
    font-size: 1.5em;
  }
}

@media (max-width: 475px) {
  .confidential-title {
    font-size: 1em;
  }
  .policy-section p {
    line-height: 40px;
  }
}

@media (max-width: 318px) {
  .confidential-title {
    font-size: 0.8em;
  }
  .policy-section p {
    line-height: 35px;
  }
}
