.super-container-cookies {

    height: auto;
    width: auto;
    background-color:var(--blue-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookies-title {
    color: white;
    font-size: 2em;
    font-family: "Bowlby One";
    letter-spacing: 0.1rem;
    margin-top: 40px;
}

.cookies-text {
    color: white;
    font-family: "Gilroy-Bold";
    max-width: 800px;
    line-height: 40px;
    margin-top: 40px;
}

.cookies-subtitle {
    font-family: "Gilroy-bold";
    margin-top: 40px;
    text-decoration: underline;
}

@media (max-width: 860px) {
    .cookies-text {
      width: 70%;
    }
  }
  
  @media (max-width: 565px) {
    .cookies-title {
      font-size: 1em;
    }
  }
  
  @media (max-width: 390px) {
    .cookies-title {
      font-size: 1em;
      text-decoration: underline white;
    }
    .cookies-text {
      padding-bottom: 2em;
    }
  }
  
  @media (max-width: 297px) {
    .cookies-text {
      line-height: 1.8em;
    }
  }
  