.super-container-faq {
  height: auto;
  width: auto;
  background-color: var(--blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-title {
  color: white;
  font-size: 3em;
  font-family: "Bowlby One";
  letter-spacing: 0.1rem;
  padding-top: 1em;
}

.faq-button {
  margin-top: 1em;
  font-family: "Gilroy-Bold";
  color: var(--blue-color);
}

.faq-text {
  color: white;
  font-family: "Gilroy-Bold";
  max-width: 800px;
  margin-bottom: 3em;
  line-height: 36px;
}

.faq-text h2 {
  padding-top: 30px;
  font-family: "Bowlby one";
  letter-spacing: 0.1rem;
}

.link-faq {
  color: white;
}

/* Styles for screens smaller than 1000px */
@media (max-width: 1000px) {
  .faq-title {
    font-size: 2.5em;
  }

  .faq-text {
    max-width: 600px;
    line-height: 30px;
  }
}

/* Styles for mobile screens (less than 700px) */
@media (max-width: 700px) {
  .faq-title {
    font-size: 2em;
    padding-top: 0.5em;
  }

  .faq-text {
    max-width: 90%; /* Increase max-width to use more of the available screen */
    line-height: 25px;
    padding: 0 10px; /* Add some padding on the sides */
  }

  .faq-text h2 {
    font-size: 1.5em;
  }
}
