.set-the-event {
  background-color: rgba(51, 153, 51, 1);
  width: 100%;
  padding: 2em 0;
}

.super-container-set-the-event {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5em;
}

.title-set-the-event {
  color: white;
  font-family: "Bowlby One", sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
}

.event-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  transition: transform 0.3s ease;
  color: white;
  text-align: center;
  font-family: "Gilroy";
  letter-spacing: 0.1rem;
}

.event-card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.2);
}

.event-card .event-card-text {
  font-size: 1em;
  padding: 0 5px;
}

.event-card .event-more-info {
  text-decoration: underline;
  cursor: pointer;
}
