.banner-mobilize {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-color);
  font-family: bowlby One;
  font-size: 4em;
  letter-spacing: 0.1em;
}
