.App-header {
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
  color: var(--green-color);
  font-family: "Gilroy-Bold";
  font-size: 14px;
  font-weight: 600;
}

.nav-menu-item {
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: var(--green-color);
}

.nav-menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: var(--blue-color);
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-menu-item:hover::after {
  width: 100%;
  left: 0;
}
.nav-menu-item:hover {
  color: var(--blue-color);
}

.nav-menu-item {
  text-transform: uppercase;
}

.english-flag {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.spanish-flag {
  width: 20px;
  height: auto;
  cursor: pointer;
  position: relative;
}

.language-notification {
  font-size: 10px;
  display: none;
  position: absolute;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0, 0.7);
  border-radius: 19px;
  padding: 0.8em;
  font-weight: 100;
  left: 89%;
  top: 6%;
  z-index: 10;
}

.spanish-flag:hover + .language-notification {
  display: block;
}

.flags {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flags img {
  width: 20px;
  height: auto;
  cursor: pointer;
  margin-right: 10px;
}

.flags img:last-child {
  margin-right: 0;
}

@media (max-width: 778px) {
  .App-header {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .App-header {
    width: 100%;
  }
}

@media (max-width: 621px) {
  .App-header {
    width: 100%;
    font-size: 7px;
  }
  .flags img {
    width: 15px;
  }
  .language-notification {
    font-size: 8px;
    left: 83%;
    top: 5%;
  }
}

@media (max-width: 275px) {
  .App-header {
    width: 100%;
    font-size: 4px;
  }
}
