.App-header {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  color: var(--green-color);
  font-family: "Gilroy-Bold";
  font-size: 14px;
  font-weight: 600;
}

.nav-menu-item {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--green-color);
}

.nav-menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: var(--blue-color);
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-menu-item:hover::after {
  width: 100%;
  left: 0;
}
.nav-menu-item:hover {
  color: var(--blue-color);
}

.nav-menu-item {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .App-header {
    display: none;
  }
}
