.flag-partners-section {
  width: 100%;
  background-color: var(--blue-color);
  text-align: center;
  padding: 4em;
}

.title-flag-partners-section {
  color: white;
  font-family: "Bowlby One";
  font-size: 2em;
  letter-spacing: 0.2rem;
  margin-bottom: 1.2em;
}

.logo-partner {
  width: 110px;
  height: auto;
}

.swiper-button-prev-flag-partners {
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  color: white;
  border: none;
  background: none;
  font-size: 3em;
  cursor: pointer;
  position: relative;
  top: -100px;
  right: 600px;
  z-index: 99999;
}

.swiper-button-next-flag-partners {
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  color: white;
  border: none;
  background: none;
  font-size: 3em;
  cursor: pointer;
  position: relative;
  top: -100px;
  right: -600px;
  z-index: 99999;
}

@media (max-width: 1024px) {
  .flag-partners-section {
    width: 100%;
  }
  .title-flag-partners-section {
    font-size: 1.5em;
  }
  .logo-partner {
    width: 100%;
    width: 100px;
    height: auto;
    padding-top: 10px;
  }
  .partners-container {
    display: flex;
    justify-content: center;
    gap: 70px;
  }
}

@media (max-width: 780px) {
  .flag-partners-section {
    width: 100%;
  }
  .title-flag-partners-section {
    font-size: 1.5em;
  }
  .logo-partner {
    width: 100%;
    width: 50px;
    height: auto;
    padding-top: 10px;
  }
  .partners-container {
    display: flex;
    justify-content: center;
  }
  .swiper-button-prev-flag-partners {
    font-size: 2em;
    top: -45px;
    right: 280px;
    z-index: 99999;
  }

  .swiper-button-next-flag-partners {
    font-size: 2em;
    top: -45px;
    right: -280px;
    z-index: 99999;
  }
}

@media (max-width: 640px) {
  .flag-partners-section {
    width: 100%;
  }
  .title-flag-partners-section {
    font-size: 1.5em;
  }
  .logo-partner {
    width: 100%;
    width: 50px;
    height: auto;
    padding-top: 10px;
  }
  .partners-container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .swiper-button-prev-flag-partners {
    font-size: 2em;
    top: -45px;
    right: 280px;
    z-index: 99999;
  }

  .swiper-button-next-flag-partners {
    font-size: 2em;
    top: -45px;
    right: -280px;
    z-index: 99999;
  }
}

@media (max-width: 519px) {
  .flag-partners-section {
    width: 100%;
  }
  .title-flag-partners-section {
    font-size: 1.5em;
  }
  .logo-partner {
    width: 80%;
    width: 50%;
    height: auto;
  }
  .partners-container {
    display: flex;
    justify-content: center;
    gap: 0.1px;
  }
  .swiper-button-prev-flag-partners {
    font-size: 2em;
    top: -45px;
    right: 180px;
    z-index: 99999;
  }

  .swiper-button-next-flag-partners {
    font-size: 2em;
    top: -45px;
    right: -180px;
    z-index: 99999;
  }
}

@media (max-width: 469px) {
  .flag-partners-section {
    width: 100%;
  }
  .title-flag-partners-section {
    font-size: 1em;
  }
  .logo-partner {
    width: 100%;
    width: 50%;
    height: auto;
    padding-top: 10px;
  }
  .partners-container {
    display: flex;
    justify-content: center;
    gap: 1px;
  }
  .swiper-button-prev-flag-partners {
    font-size: 2em;
    top: -45px;
    right: 180px;
    z-index: 99999;
  }

  .swiper-button-next-flag-partners {
    font-size: 2em;
    top: -45px;
    right: -180px;
    z-index: 99999;
  }
}

@media only screen and (max-width: 844px) and (orientation: landscape) {
  .partners-container {
    gap: 30px;
  }
  .swiper-button-prev-flag-partners {
    font-size: 2em;
    top: -75px;
    right: 380px;
    z-index: 99999;
  }

  .swiper-button-next-flag-partners {
    font-size: 2em;
    top: -75px;
    right: -380px;
    z-index: 99999;
  }
}

@media only screen and (max-width: 932px) and (orientation: landscape) {
  .partners-container {
    gap: 30px;
  }
  .swiper-button-prev-flag-partners {
    font-size: 2em;
    top: -75px;
    right: 380px;
    z-index: 99999;
  }

  .swiper-button-next-flag-partners {
    font-size: 2em;
    top: -75px;
    right: -380px;
    z-index: 99999;
  }
}
