.flag-partners-section {
  width: 100%;
  background-color: var(--blue-color);
  padding: 1em;
  text-align: center;
  padding: 2em;
}

.title-flag-partners-section {
  color: white;
  font-family: "Bowlby One";
  font-size: 2em;
  letter-spacing: 0.1rem;
  margin-bottom: 1em;
}

.partners-container {
  display: flex;
  justify-content: center;
  gap: 100px; /* Ajustez cet espace selon vos besoins */
}

.logo-partner {
  width: 120px;
  height: auto;
}
