.App-sidebar {
  background-color: white;
  writing-mode: vertical-lr;
  width: 5%;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-flag {
  width: 50px;
}

@media (max-width: 500px) {
  .App-sidebar {
    display: none;
  }
}
