.App-sidebar {
  background-color: white;
  width: 5%;
  overflow: hidden;
  height: 100%;
}

.Sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

.hero-flag {
  width: auto;
  height: 100%;
}

@media (max-width: 519px) {
  .hero-flag {
    width: 17px;
    margin-bottom: 40px;
  }
}
