/* Footer CSS */
footer {
  width: 100%;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: "Bowlby One";
}

.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 0.7rem;
  background-color: var(--blue-color);
  padding: 2em;
}

.footer-section div {
  cursor: pointer;
  padding: 0.5em 1em;
  transition: background-color 0.3s;
}

.footer-section div a {
  text-decoration: none;
  color: #fff;
}

.footer-section div:hover {
  background-color: var(--black-color);
  border-radius: 5px;
}

.footer-section div:before {
  content: "";
  padding-right: 0.5em;
}

.nav-footer {
  color: white;
  text-decoration: none;
}

@media (max-width: 778px) {
  .footer-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-section div {
    margin-bottom: 0.5em;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .footer-section {
    width: 100%;
    padding: 1em;
  }
  .footer {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .footer-section {
    width: 100%;
    padding: 1em;
  }
  .footer {
    width: 100%;
  }
}
