.action-quote-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue-color);
  padding: 20px;
  flex-direction: row;
}

.action-quote {
  flex-basis: 50%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10em;
}

.action-quote-text {
  font-family: Bowlby One;
  font-size: 27px;
  line-height: 1.5;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.action-quote-author {
  font-family: "Gilroy", sans-serif;
  font-size: 0.7em;
  padding-top: 0.5em;
}

.action-quote-image-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-quote-image {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.action-quote-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author {
  font-weight: bold;
  font-size: larger;
}

@media (max-width: 1207px) {
  .action-quote-section {
    flex-direction: column;
    width: 100%;
  }
  .action-quote-image {
    width: 300px;
    height: 300px;
  }
  .action-quote-text {
    font-size: 2em;
    width: 80%;
  }
  .action-quote {
    padding: 2em;
  }
  .action-quote-author {
    padding-top: 0.5em;
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  .action-quote-section {
    flex-direction: column;
    width: 100%;
  }
  .action-quote-image {
    width: 300px;
    height: 300px;
  }
  .action-quote-text {
    font-size: 2em;
  }
  .action-quote {
    padding: 2em;
  }
  .action-quote-author {
    padding-top: 0.5em;
    font-size: 0.7em;
  }
}

@media (max-width: 1030px) {
  .action-quote-section {
    flex-direction: column;
    width: 100%;
  }
  .action-quote-image {
    width: 300px;
    height: 300px;
  }
  .action-quote-text {
    font-size: 1.2em;
  }
  .action-quote {
    padding: 2em;
  }
  .action-quote-author {
    padding-top: 0.5em;
    font-size: 0.7em;
  }
}

@media (max-width: 778px) {
  .action-quote-section {
    flex-direction: column;
    width: 100%;
  }
  .action-quote-image {
    width: 300px;
    height: 300px;
  }
  .action-quote-text {
    font-size: 1.2em;
  }
  .action-quote {
    padding: 2em;
  }
  .action-quote-author {
    padding-top: 0.5em;
    font-size: 0.7em;
  }
}

@media (max-width: 640px) {
  .action-quote-section {
    flex-direction: column;
    width: 100%;
  }
  .action-quote-image {
    width: 300px;
    height: 300px;
  }
  .action-quote-text {
    font-size: 1.2em;
  }
  .action-quote {
    padding: 2em;
  }
  .action-quote-author {
    padding-top: 0.5em;
    font-size: 0.7em;
  }
}

@media (max-width: 430px) {
  .action-quote-section {
    flex-direction: column;
    width: 100%;
  }
  .action-quote-image {
    width: 300px;
    height: 300px;
  }
  .action-quote-text {
    font-size: 1.2em;
  }
  .action-quote {
    padding: 2em;
  }
  .action-quote-author {
    padding-top: 0.5em;
    font-size: 0.7em;
  }
}

@media (max-width: 275px) {
  .action-quote-section {
    flex-direction: column;
    width: 100%;
  }
  .action-quote-image {
    width: 150px;
    height: 150px;
  }
  .action-quote-text {
    font-size: 1em;
  }
  .action-quote {
    padding: 2em;
  }
  .action-quote-author {
    padding-top: 0.5em;
    font-size: 0.7em;
  }
}
