.quotation-section {
  display: flex;
  justify-content: center;
  padding: 5em 0;
}

.container-quotation-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
}

.mini-container-quotation-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 30px;
  text-align: center;
  justify-content: flex-start;
}

.quote-quotation-section {
  font-family: "Bowlby One";
  font-size: 35px;
  margin-bottom: 5px;
  letter-spacing: 0.1rem;

  min-height: 4em;
}

.author-quotation-section {
  font-family: "Gilroy";
  margin-top: auto;
}

@media (max-width: 768px) {
  .quote-quotation-section {
    display: none;
  }

  .author-quotation-section {
    display: none;
  }
}
