.custom-the-flag {
  background-color: rgb(33, 65, 132);
  width: 100%;
  padding: 2em 0;
}

.super-container-custom-the-flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2em;
}

.title-custom-the-flag {
  font-family: "Bowlby One", sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.container-carousel-custom-the-flag {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the carousel horizontally */
}

.container-flags-custom-the-flag {
  display: flex;
  align-items: center;
  gap: 150px;
}

.flags-custom-the-flag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flags-custom-the-flag img {
  width: 300px;
  height: auto;
}

.arrows-custom-the-flag {
  font-size: 2em;
  cursor: pointer;
  user-select: none;
  color: white;
}

.left-arrow {
  margin-right: 50px;
}

.right-arrow {
  margin-left: 50px;
}

.a-url-link img {
  transition: transform 0.3s ease;
}

.a-url-link:hover img {
  transform: scale(1.05);
}

@media (max-width: 1280px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    gap: 150px;
  }

  .flags-custom-the-flag img {
    width: 200px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1.5em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}

@media (max-width: 1024px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    gap: 50px;
  }

  .flags-custom-the-flag img {
    width: 120px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1.5em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}

@media (max-width: 778px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    gap: 50px;
  }

  .flags-custom-the-flag img {
    width: 120px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1.5em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}

@media (max-width: 640px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    gap: 50px;
  }

  .flags-custom-the-flag img {
    width: 80px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}

@media (max-width: 420px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    gap: 20px;
  }

  .flags-custom-the-flag img {
    width: 80px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}

@media (max-width: 369px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    gap: 50px;
  }

  .flags-custom-the-flag img {
    width: 50px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}

@media (max-width: 275px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    gap: 50px;
  }

  .flags-custom-the-flag img {
    width: 50px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}
