.custom-the-flag {
  background-color: rgb(33, 65, 132);
  width: 100%;
  padding: 2em 0;
}

.super-container-custom-the-flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.title-custom-the-flag {
  font-family: "Bowlby One", sans-serif;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.container-carousel-custom-the-flag {
  display: flex;
  align-items: center;
  justify-content: center; /
}

.container-flags-custom-the-flag {

  border-radius: 10px;
  padding: 60px;
  width: 80em; 
  transition: transform 0.3s ease;
  color: white;
  text-align: center;
  transform: translateY(-10px);
}

.custom-the-flag .swiper-button-prev,
.custom-the-flag .swiper-button-next {
  border: none;
  background: none;
  color: white;
}

.custom-the-flag .swiper-button-prev {
  left: 0;
  padding-left: 5em;
}

.custom-the-flag .swiper-button-next {
  right: 0;
  padding-right: 5em;
}

.flags-custom-the-flag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flags-custom-the-flag img {
  width: 300px;
  height: auto;
}

.arrows-custom-the-flag {
  font-size: 2em;
  cursor: pointer;
  user-select: none;
  color: white;
}

.left-arrow {
  margin-right: 50px;
}

.right-arrow {
  margin-left: 50px;
}

.a-url-link img {
  transition: transform 0.3s ease;
}

.a-url-link:hover img {
  transform: scale(1.05);
}


.click-on-it {
  font-family: "Gilroy-Bold";
}



@media (max-width: 1280px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    width: 60em;
  }

  .flags-custom-the-flag img {
    width: 200px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1.5em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}

@media (max-width: 1024px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    width: 45em;
  }

  .flags-custom-the-flag img {
    width: 120px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1.5em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
}

@media (max-width: 778px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    width: 30em;
  }

  .flags-custom-the-flag img {
    width: 100px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1.5em;
  }
  .super-container-custom-the-flag {
    padding: 1em;
  }
}

@media (max-width: 640px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    width: 34em;
  }

  .flags-custom-the-flag img {
    width: 150px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1em;
  }
  .super-container-custom-the-flag {
    padding: 1em;
  }
}

@media (max-width: 500px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    width: 27em;
  }

  .flags-custom-the-flag img {
    width: 130px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1em;
  }
  .super-container-custom-the-flag {
    padding-top: 2em;
  }
  .custom-the-flag .swiper-button-prev {
    left: 0;
    padding-left: 3em;
  }
  
  .custom-the-flag .swiper-button-next {
    right: 0;
    padding-right: 3em;
  }
  
}

@media (max-width: 369px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    width: 25em;
  }

  .flags-custom-the-flag img {
    width: 100px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1em;
  }
  .super-container-custom-the-flag {
    padding-top: 2em;
  }
  .custom-the-flag .swiper-button-prev {
    left: 0;
    padding-left: 4em;
  }
  
  .custom-the-flag .swiper-button-next {
    right: 0;
    padding-right: 4em;
  }
}

@media (max-width: 275px) {
  .custom-the-flag {
    width: 100%;
    padding: 0;
  }
  .container-flags-custom-the-flag {
    width: 25em;
  }

  .flags-custom-the-flag img {
    width: 100px;
    height: auto;
  }
  .title-custom-the-flag {
    font-size: 1em;
  }
  .super-container-custom-the-flag {
    padding: 2em;
  }
  .custom-the-flag .swiper-button-prev {
    left: 0;
    padding-left:0;
  }
  
  .custom-the-flag .swiper-button-next {
    right: 0;
    padding-right:0;
  }
}
