.principles-section {
  background-color: var(--blue-color);
  color: white;
  padding: 3em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principles-banner {
  font-family: "Bowlby One", sans-serif;
  font-size: 2em;
  letter-spacing: 0.1em;
}

.principles-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  padding: 2em;
}

.principle-item {
  width: 20%;
  min-height: 150px;
}

.principle-number {
  font-size: 2em;
  background-color: rgba(51, 153, 51, 1);
  color: white;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  font-family: "Bowlby One";
}

.principle-text {
  font-family: "Gilroy-bold";
  font-size: 1rem;
  text-align: left;
  width: 100%;
  line-height: 2em;
}

@media (max-width: 778px) {
  .principles-section {
    width: 100%;
    padding: 1em;
  }
  .principles-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 2.5em;
  }
  .principle-text {
    font-size: 0.7rem;
  }
  .principle-number {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
  }
  .principles-banner {
    font-size: 1.5em;
  }
}

@media (max-width: 640px) {
  .principles-section {
    width: 100%;
    padding: 1em;
  }
  .principles-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 2.5em;
  }
  .principle-text {
    font-size: 0.7rem;
  }
  .principle-number {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
  }
  .principles-banner {
    font-size: 1.5em;
  }
}

@media (max-width: 469px) {
  .principles-section {
    width: 100%;
    padding: 1em;
  }
  .principles-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 0.5em;
  }
  .principle-text {
    font-size: 0.6rem;
  }
  .principle-number {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
  }
  .principles-banner {
    font-size: 1em;
  }
}

@media (max-width: 275px) {
  .principles-section {
    display: none;
  }
}

/* @media (max-width: 768px) {
  .principles-section {
    display: none;
  }
} */
