.Climate-urgency-section {
  width: 100%;
}

.Climate-urgency-section {
  background-color: lightblue;
}

.video-flag {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

.video-flag::-webkit-media-controls {
  display: none !important;
}

.video-flag::-webkit-media-controls-start-playback-button {
  display: none !important;
}
.video-flag::-webkit-media-controls {
  display: none !important;
}

.video-flag::-webkit-media-controls-start-playback-button {
  display: none !important;
}

@media (max-width: 778px) {
  .Climate-urgency-section {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .Climate-urgency-section {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .Climate-urgency-section {
    width: 100%;
  }
}
